@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
a{
    text-decoration: none;
    display: inline-block;
}
button{
    display: inline-block;
}
li{
    list-style: none;
}
/* Shared CSS  */
.fixed_container{
    width: 80%;
    margin: 0 auto;
}
.d_flex{
    display: flex;
}
.dark_1{
    color: rgba(19, 19, 19, 1);
}
.dark_2{
    color: rgba(66, 66, 66, 1);
}
.primary_color{
    color: rgba(255, 144, 14, 1);
}
.dark_3{
    color: rgba(114, 114, 114, 1);
}
.btn_primary {
    background-color: rgba(255, 144, 14, 1);
    border-radius: 5px;
    padding: 12px 23px;
    font-size: 18px;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.bg_color{
    background-color: rgba(255, 143, 14, 0.1);
}



/* Header CSS  */
header {
    padding-bottom: 32px;
}
nav{
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px;
}
nav .brands{}
nav .brands h1{
    font-size: 2rem;
}
nav ul {}
nav ul li{}
nav ul li a {
    padding: 7px 16px;
    margin-left: 5px;
    color: rgba(66, 66, 66, 1);
}

/* Hero Section CSS  */
.hero_section{}
.hero_content {
    width: 75%;
    margin: 50px auto 30px;
    text-align: center;
}
.hero_content h1{
    font-size: 2.8rem;
}
.hero_content p {
    margin: 19px 0px;
    line-height: 1.5rem;
}
.hero_content button{}
.hero_img {}
.hero_img img{
    width: 100%;
}


/* Feature Section CSS  */
.feature_section{
    margin: 50px 0px;
}
.feature_box{}
.feature_img {
    flex-basis: 50%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 15px;
}
.feature_img .img_item{
    flex-basis: 45%;
}
.feature_img .img_item img{
    width: 100%;
    margin-bottom: -4px;
}
.feature_content {
    flex-basis: 50%;
    display: flex;
    align-items: center;
}
.feature_content h1{
    font-size: 2rem;
}
.feature_content h1 span{}
.feature_content p {
    line-height: 1.4rem;
    margin: 20px 0px;
}
.feature_content p button{}
.feature_center {
    padding: 0px 20px;
}






/* Service Section Css  */
.service_section {
    margin: 80px 0px;
}
.service {
    /* column-gap: 166px; */
    justify-content: space-between;
}
.service_content{
    flex-basis: 50%;
}
.service_title {
    position: relative;
    border-left: 4px solid rgba(255, 144, 14, 1);
}
.service_title h1 {
    font-size: 32px;
    padding-left: 18px;
}
.service_description{}
.service_description p {
    font-size: 14px;
    line-height: 1.2rem;
    margin-top: 18px;
}
.service_item {
    padding-left: 18px;
    margin-top: 30px;
}
.service_item_box {
    margin-bottom: 20px;
    padding: 20px 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.service_item_box h3 {
    margin-bottom: 8px;
}
.service_item_box p{
    font-size: 14px;
    line-height: 1.2rem;
}
.service_img {
    flex-basis: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.service_img .service_item_img{
    position: relative;
}
.service_img .service_item_img img{
    max-width: 100%;
}
.service_float {
    position: absolute;
    top: 100%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 144, 14, 1);
    color: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}
.service_float h1{
    font-size: 32px;
}

/* Fact_section  */
.fact_section{
    margin-bottom: 60px;
}
.fact_title{
    margin-bottom: 30px;
}
.fact_title h1{
    font-size: 2rem;
    margin-bottom: 10px;
}
.fact_title p{
    width: 50%;
}
.fact_card{
    justify-content: space-between;
}
.fact_card .fact_box{
    flex-basis: 20%;
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 5px;
    padding: 40px 0px;
}
.fact_box .fact_img{
    text-align: center;
}
.fact_box .fact_img img{}
.fact_box .fact_box_text{
    text-align: center;
}
.fact_box .fact_box_text h1{
    margin: 12px 0px 6px;
    font-size: 2rem;
}
.fact_box .fact_box_text p{
    font-weight: 600;
}


/* Sponser Section  */
.sponser_section{
    margin-bottom: 60px;
}
.sponser_title{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.sponser_title h1{
    margin-bottom: 10px;
    font-size: 2rem;
}
.sponser_title p{
    line-height: 1.4rem;
}
.sponser_company{
    margin-top: 30px;
    justify-content: space-between;
}
.sponser_logo{
    flex-basis: 15%;
}
.sponser_logo img{
    max-width: 100%;
}

/* footer section  */
.footer p{
    text-align: center;
    padding: 20px 0px;
}




@media screen and (max-width:566px) {
    .fixed_container{
        width: 90%;
        margin: 0 auto;
    }
    nav {
        flex-direction: column;
        row-gap: 10px;
    }
    .hero_content {
        width: 100%;
    }
    .hero_content h1 {
        font-size: 1.5rem;
    }
    .hero_content {
        margin: 30px auto 20px;
    }
    .btn_primary {
        padding: 8px 15px;
        font-size: 16px;
        font-weight: 400;
    }

    
    /* Feature Section */
    .feature_box{
        flex-direction: column;
        row-gap: 20px;
    }
    .feature_content {
        text-align: center;
    }
    .feature_center {
        padding: 0px 0px;
    }


    /* service section  */
    .service{
        flex-direction: column;
    }
    .service_title h1 {
        font-size: 1.5rem;
    }
    .service_float {
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .service_float h1 {
        font-size: 1rem;
    }
    .service_item {
        padding-left: 0px;
    }


    /* face Section  */
    .fact_title {
        text-align: center;
    }
    .fact_title p{
        width: auto;
    }
    .fact_card{
        flex-wrap: wrap;
        row-gap: 10px;
        justify-content: center;
    }
    .fact_card .fact_box {
        flex-basis: 90%;
    }


    /* Sponser Section  */
    .sponser_title {
        width: auto;
        text-align: center;
    }
    .sponser_company{
        flex-wrap: wrap;
        row-gap: 12px;
    }
    .sponser_company .sponser_logo{
        flex-basis: 30%;
        text-align: center;
    }
    .sponser_logo img{
        width: 70%;
    }

    /* footer section  */
    .footer p {
        font-size: 14px;
    }

}

@media screen and (min-width:567px) and (max-width:768px) {
    nav {
        flex-direction: column;
        row-gap: 10px;
    }
    .hero_content {
        width: 100%;
    }

    /* Feature Section */
    .feature_box{
        flex-direction: column;
        row-gap: 20px;
    }
    .feature_content {
        text-align: center;
    }

    /* Service Section */
    .service{
        flex-direction: column;
    }
    .service_item {
        padding-left: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .service_item_box {
        flex-basis: 48%;
    }
    /* face Section  */
    .fact_title {
        text-align: center;
    }
    .fact_title p{
        width: auto;
    }
    .fact_card{
        flex-wrap: wrap;
        row-gap: 15px;
        justify-content: space-around;
    }
    .fact_card .fact_box {
        flex-basis: 45%;
    }

    /* sponser section  */
    .sponser_title {
        width: 80%;
    }
}

@media screen and (max-width:992px){
    .service_float {
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .service_float h1{
        font-size: 25px;
    }
}




.hide{
    display: none;
}